
body {
    text-align: center;
    font-family: sans-serif;
}
canvas {
    border: 2px solid black;
    max-width: 100%;
    height: auto;
}
#controls, #shop {
    margin-top: 10px;
}
button {
    font-size: 16px;
    margin: 2px;
}
